@using Forum.Models
@model ChuDe
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BanQuanTri/Views/Shared/_Layout.cshtml";
}

@{
    IEnumerable<ChuDe> DanhSachLapTrinh = ViewBag.LapTrinh as IEnumerable<ChuDe>;
    IEnumerable<ChuDe> DanhSachDoiSong = ViewBag.DoiSong as IEnumerable<ChuDe>;
    IEnumerable<ChuDe> DanhSachTheThao = ViewBag.TheThao as IEnumerable<ChuDe>;
    IEnumerable<ChuDe> DanhSachLinhTinh = ViewBag.LinhTinh as IEnumerable<ChuDe>;
    IEnumerable<BaiViet> DanhSachBaiVietMoi = ViewBag.BaiVietMoi as IEnumerable<BaiViet>;

}

<div class="p-body-header">
    <div class="pageContent">
        <div class="uix_headerInner">
            <div class="test">
                <div class="p-title ">
                    <h1 class="p-title-value">Nội Quy Diễn Đàn</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-body">
    <div class="p-body-inner ">
        <!--XF:EXTRA_OUTPUT-->
        <ul class="notices notices--block  js-notices"
            data-xf-init="notices"
            data-type="block"
            data-scroll-interval="6">
            <li class="notice js-notice notice--primary"
                data-notice-id="1"
                data-delay-duration="0"
                data-display-duration="0"
                data-auto-dismiss=""
                data-visibility="">
                <div class="uix_noticeInner">
                    <div class="uix_noticeIcon">
                        <i class="fa--xf far fa-info-circle" aria-hidden="true"></i>
                    </div>
                    <div class="notice-content">
                        <a href="account/dismiss-notice9625.html?notice_id=1" class="notice-dismiss js-noticeDismiss" data-xf-init="tooltip" title="Đóng Khung"></a>
                        Vui lòng không đăng tin trái quy định pháp luận, xúc phạm tôn giáo hay đảng và nhà nước VIỆT NAM ta. Mọi người cũng nhau góp sức xây dựng một diễn đàn văn minh lịch sự, không đấu đá đố kị lẫn nhau.
                        <br><br>
                        Thành viên đăng nhập để thực hiện nhiều chức năng hơn @*<b>demo</b> Password:  <b>demo</b><br>*@
                        <br>
                        <br>
                        <b>Quyên Góp Hay Hỗ Trợ Kinh Phí Diễn Đàn</b>
                        <br>
                        4003205625412 Agribank Tên Thẻ: Minh Trí <b>Hoặc</b> 0952135215 PayPal Tên Chủ Thẻ: Minh Trí
                    </div>
                </div>
            </li>
        </ul>
        <noscript>
            <div class="blockMessage blockMessage--important blockMessage--iconic u-noJsOnly">JavaScript is disabled. For a better experience, please enable JavaScript in your browser before proceeding.</div>
        </noscript>
        <div class="blockMessage blockMessage--important blockMessage--iconic js-browserWarning" style="display: none">You are using an out of date browser. It  may not display this or other websites correctly.<br />You should upgrade or use an <a href="https://www.google.com/chrome/" target="_blank" rel="noopener">alternative browser</a>.</div>
        <div uix_component="MainContainer" class="uix_contentWrapper">
            <div class="uix_welcomeSection">
                <div class="uix_welcomeSection__inner">
                    <div class="media__container">
                        <div class="media__body">
                            <div class="uix_welcomeSection__title">Chào Mừng Bạn Đến Diễn Đàn UX</div>
                            <div class="uix_welcomeSection__text">Nơi giao lưu học hỏi kiến thức về lập trình và cuộc sống thường ngày</div>
                            @if (Session["TaiKhoan"] == null && Session["TaiKhoanKH"] == null)
                            {
                                <a href="/BanQuanTri/DangNhap/TrangDangNhap" class="button--cta button"><span class="button-text">Đăng Nhập</span></a>
                                <a href="/BanQuanTri/DangNhap/DangKy" class="button--cta button"><span class="button-text">Đăng Ký</span></a>
                            }
                            else if (Session["TaiKhoan"] != null) // tồn tại nhân viên
                            {
                                NguoiDung nv = (NguoiDung)Session["TaiKhoan"];
                                <span>Xin chào: @nv.Ho @nv.Ten</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-body-main p-body-main--withSidebar">
                <div uix_component="MainContent" class="p-body-content">
                    <!-- ABOVE MAIN CONTENT -->
                    <div class="p-body-pageContent">
                        <div class="uix_nodeList block">
                            <div class="block block--category block--category1 list">
                                <span class="u-anchorTarget" id="general.1"></span>
                                <h2 class="block-header js-nodeMain">
                                    <div class="uix_categoryStrip-content">
                                        <a href="categories/general.1/index.html" class="uix_categoryTitle" data-xf-init="" data-shortcut="node-description">Lập Trình</a>
                                    </div>
                                    <a href="javascript:;" class="u-ripple categoryCollapse--trigger" rel="nofollow"><i class="fa--xf far fa-chevron-up" aria-hidden="true"></i></a>
                                </h2>
                                <div class="block-container">
                                    <div class="uix_block-body--outer">
                                        <div class="block-body">
                                            @foreach (var item in DanhSachLapTrinh)
                                            {
                                                <div class="node node--id2 node--depth2  node--forum node--read">
                                                    <div class="node-body">
                                                        <span class="node-icon" aria-hidden="true">
                                                            <i class="fa--xf far fa-comments" aria-hidden="true"></i>
                                                        </span>
                                                        <div class="node-main js-nodeMain">
                                                            <h3 class="node-title">
                                                                <a href="/BanQuanTri/ChuDe/BaiVietMoiTheoChuDe?iMaChuDe=@item.MaChuDe" data-xf-init="" data-shortcut="node-description" class="TenChuDe">
                                                                    @item.TenChuDe
                                                                </a>
                                                            </h3>
                                                            <div class="node-meta">
                                                                <div class="node-statsMeta">
                                                                    <dl class="pairs pairs--inline">
                                                                        <dt><i class="fa--xf far fa-comment" aria-hidden="true"></i></dt>
                                                                        <dd>1</dd>
                                                                    </dl>
                                                                    <dl class="pairs pairs--inline">
                                                                        <dt><i class="fa--xf far fa-comments" aria-hidden="true"></i></dt>
                                                                        <dd>1</dd>
                                                                    </dl>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="node-stats">
                                                            <dl class="pairs pairs--rows">
                                                                <dt>Bài Viết</dt>
                                                                <dd>@item.SoBaiViet</dd>
                                                            </dl>
                                                            <dl class="pairs pairs--rows">
                                                                <dt>Lượt Xem</dt>
                                                                <dd>@item.LuotXem</dd>
                                                            </dl>
                                                        </div>
                                                        @*<div class="node-extra">
                                                                <div class="node-extra-icon">
                                                                    <a href="members/dalton-prock.1/index.html" class="avatar avatar--xs" data-user-id="1" data-xf-init="member-tooltip">
                                                                        <img src="https://secure.gravatar.com/avatar/7998cab7539184204cde363cc78fd555?s=48" srcset="https://secure.gravatar.com/avatar/7998cab7539184204cde363cc78fd555?s=96 2x" alt="Dalton Prock" class="avatar-u1-s" width="48" height="48" loading="lazy" />
                                                                    </a>
                                                                </div>
                                                                <div class="uix_nodeExtra__rows">
                                                                    <div class="node-extra-row">
                                                                        <a href="threads/hiya.2/%23post-2.html" class="node-extra-title" title="Hiya">Hiya</a>
                                                                    </div>
                                                                    <div class="node-extra-row">
                                                                        <ul class="listInline listInline--bullet">
                                                                            <li><time class="node-extra-date u-dt" dir="auto" datetime="2017-11-14T16:56:28-0600" data-time="1510700188" data-date-string="Nov 14, 2017" data-time-string="4:56 PM" title="Nov 14, 2017 at 4:56 PM">Nov 14, 2017</time></li>
                                                                            <li class="node-extra-user"><a href="members/dalton-prock.1/index.html" class="username " dir="auto" data-user-id="1" data-xf-init="member-tooltip"><span class="username--staff username--moderator username--admin">Dalton Prock</span></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>*@
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block block--category block--category6">
                                <span class="u-anchorTarget" id="electronics-gadgets.6"></span>
                                <h2 class="block-header js-nodeMain">
                                    <div class="uix_categoryStrip-content">
                                        <a href="categories/electronics-gadgets.6/index.html" class="uix_categoryTitle" data-xf-init="" data-shortcut="node-description">Đời Sống</a>
                                    </div>
                                    <a href="javascript:;" class="u-ripple categoryCollapse--trigger" rel="nofollow"><i class="fa--xf far fa-chevron-up" aria-hidden="true"></i></a>
                                </h2>
                                <div class="block-container ">
                                    <div class="uix_block-body--outer">
                                        <div class="block-body">
                                            @foreach (var item in DanhSachDoiSong)
                                            {
                                                <div class="node node--id2 node--depth2  node--forum node--read">
                                                    <div class="node-body">
                                                        <span class="node-icon" aria-hidden="true">
                                                            <i class="fa--xf far fa-comments" aria-hidden="true"></i>
                                                        </span>
                                                        <div class="node-main js-nodeMain">
                                                            <h3 class="node-title">
                                                                <a href="/BanQuanTri/ChuDe/BaiVietMoiTheoChuDe?iMaChuDe=@item.MaChuDe" data-xf-init="" data-shortcut="node-description" class="TenChuDe">
                                                                    @item.TenChuDe
                                                                </a>
                                                            </h3>
                                                            <div class="node-meta">
                                                                <div class="node-statsMeta">
                                                                    <dl class="pairs pairs--inline">
                                                                        <dt><i class="fa--xf far fa-comment" aria-hidden="true"></i></dt>
                                                                        <dd>1</dd>
                                                                    </dl>
                                                                    <dl class="pairs pairs--inline">
                                                                        <dt><i class="fa--xf far fa-comments" aria-hidden="true"></i></dt>
                                                                        <dd>1</dd>
                                                                    </dl>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="node-stats">
                                                            <dl class="pairs pairs--rows">
                                                                <dt>Bài Viết</dt>
                                                                <dd>@item.SoBaiViet</dd>
                                                            </dl>
                                                            <dl class="pairs pairs--rows">
                                                                <dt>Lượt Xem</dt>
                                                                <dd>@item.LuotXem</dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block block--category block--category11 ">
                                <span class="u-anchorTarget" id="hardware.11"></span>
                                <h2 class="block-header js-nodeMain">
                                    <div class="uix_categoryStrip-content">
                                        <a href="categories/hardware.11/index.html" class="uix_categoryTitle" data-xf-init="" data-shortcut="node-description">Thể Thao</a>
                                    </div>
                                    <a href="javascript:;" class="u-ripple categoryCollapse--trigger" rel="nofollow"><i class="fa--xf far fa-chevron-up" aria-hidden="true"></i></a>
                                </h2>
                                <div class="block-container ">
                                    <div class="uix_block-body--outer">
                                        <div class="block-body">
                                            @foreach (var item in DanhSachTheThao)
                                            {
                                                <div class="node node--id2 node--depth2  node--forum node--read">
                                                    <div class="node-body">
                                                        <span class="node-icon" aria-hidden="true">
                                                            <i class="fa--xf far fa-comments" aria-hidden="true"></i>
                                                        </span>
                                                        <div class="node-main js-nodeMain">
                                                            <h3 class="node-title">
                                                                <a href="/BanQuanTri/ChuDe/BaiVietMoiTheoChuDe?iMaChuDe=@item.MaChuDe" data-xf-init="" data-shortcut="node-description" class="TenChuDe">
                                                                    @item.TenChuDe
                                                                </a>
                                                            </h3>
                                                            <div class="node-meta">
                                                                <div class="node-statsMeta">
                                                                    <dl class="pairs pairs--inline">
                                                                        <dt><i class="fa--xf far fa-comment" aria-hidden="true"></i></dt>
                                                                        <dd>1</dd>
                                                                    </dl>
                                                                    <dl class="pairs pairs--inline">
                                                                        <dt><i class="fa--xf far fa-comments" aria-hidden="true"></i></dt>
                                                                        <dd>1</dd>
                                                                    </dl>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="node-stats">
                                                            <dl class="pairs pairs--rows">
                                                                <dt>Bài Viết</dt>
                                                                <dd>@item.SoBaiViet</dd>
                                                            </dl>
                                                            <dl class="pairs pairs--rows">
                                                                <dt>Lượt Xem</dt>
                                                                <dd>@item.LuotXem</dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block block--category block--category21 ">
                                <span class="u-anchorTarget" id="off-topic.21"></span>
                                <h2 class="block-header js-nodeMain">
                                    <div class="uix_categoryStrip-content">
                                        <a href="categories/off-topic.21/index.html" class="uix_categoryTitle" data-xf-init="" data-shortcut="node-description">Linh Tinh</a>
                                    </div>
                                    <a href="javascript:;" class="u-ripple categoryCollapse--trigger" rel="nofollow"><i class="fa--xf far fa-chevron-up" aria-hidden="true"></i></a>
                                </h2>
                                <div class="block-container ">
                                    <div class="uix_block-body--outer">
                                        <div class="block-body">
                                            @foreach (var item in DanhSachLinhTinh)
                                            {
                                                <div class="node node--id2 node--depth2  node--forum node--read">
                                                    <div class="node-body">
                                                        <span class="node-icon" aria-hidden="true">
                                                            <i class="fa--xf far fa-comments" aria-hidden="true"></i>
                                                        </span>
                                                        <div class="node-main js-nodeMain">
                                                            <h3 class="node-title">
                                                                <a href="/BanQuanTri/ChuDe/BaiVietMoiTheoChuDe?iMaChuDe=@item.MaChuDe" data-xf-init="" data-shortcut="node-description" class="TenChuDe">
                                                                    @item.TenChuDe
                                                                </a>
                                                            </h3>
                                                            <div class="node-meta">
                                                                <div class="node-statsMeta">
                                                                    <dl class="pairs pairs--inline">
                                                                        <dt><i class="fa--xf far fa-comment" aria-hidden="true"></i></dt>
                                                                        <dd>1</dd>
                                                                    </dl>
                                                                    <dl class="pairs pairs--inline">
                                                                        <dt><i class="fa--xf far fa-comments" aria-hidden="true"></i></dt>
                                                                        <dd>1</dd>
                                                                    </dl>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="node-stats">
                                                            <dl class="pairs pairs--rows">
                                                                <dt>Bài Viết</dt>
                                                                <dd>@item.SoBaiViet</dd>
                                                            </dl>
                                                            <dl class="pairs pairs--rows">
                                                                <dt>Lượt Xem</dt>
                                                                <dd>@item.LuotXem</dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block" data-widget-id="9" data-widget-key="forum_overview_forum_statistics" data-widget-definition="forum_statistics">
                            <div class="block-container">
                                <h3 class="block-minorHeader">Thống Kê</h3>
                                <div class="block-body block-row">
                                    <dl class="pairs pairs--justified">
                                        <dt><a href="/BanQuanTri/DanhMuc/DanhMuc">Danh Mục</a></dt>
                                        <dd>@ViewBag.DanhMuc</dd>
                                    </dl>
                                    <dl class="pairs pairs--justified">
                                        <dt><a href="/BanQuanTri/ChuDe/ChuDe">Chủ Đề</a></dt>
                                        <dd>@ViewBag.ChuDe</dd>
                                    </dl>
                                    <dl class="pairs pairs--justified">
                                        <dt><a href="/BanQuanTri/BaiViet/BaiVietMoi">Bài Viết</a></dt>
                                        <dd>@ViewBag.BaiViet</dd>
                                    </dl>
                                    <dl class="pairs pairs--justified">
                                        <dt><a href="">Thành Viên</a></dt>
                                        <dd>@ViewBag.ThanhVien</dd>
                                    </dl>
                                    <dl class="pairs pairs--justified">
                                        <dt><a href="">Ban Quản Trị</a></dt>
                                        <dd>@ViewBag.BanQuanTri</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BELOW MAIN CONTENT -->
                </div>
                <div uix_component="MainSidebar" class="p-body-sidebar">
                    <div data-ocm-class="offCanvasMenu-backdrop"></div>
                    <div class="uix_sidebarInner ">
                        <div class="uix_sidebar--scroller">
                            <form action="https://demo.themehouse.com/xf2/themes/members/" method="post" class="block"
                                  data-widget-id="1" data-widget-key="member_wrapper_find_member" data-widget-definition="find_member">
                                <input type="hidden" name="_xfToken" value="1644417221,2e5c08a434ae330980a173ff835badbe" />
                                <div class="block-container">
                                    <h3 class="block-minorHeader">Tìm Kiếm Chủ Đề</h3>
                                    <div class="block-body block-row" style="text-align:center">
                                        <input type="text" class="input" data-xf-init="auto-complete" data-single="true" name="username" data-autosubmit="true" maxlength="50" placeholder="Tìm kiếm chủ đề..." />
                                        <a class="button--cta button" style="margin-top: 5px; background-color: #2196f3">Tìm Kiếm</a>
                                    </div>
                                </div>
                            </form>
                            <div class="block" data-widget-id="2" data-widget-key="member_wrapper_newest_members" data-widget-definition="newest_members">
                                <div class="block-container" style="display:none">
                                    <h3 class="block-minorHeader">Newest members</h3>
                                    <div class="block-body block-row">
                                        <ul class="listHeap">
                                            <li>
                                                <a href="members/alex-j.14/index.html" class="avatar avatar--s avatar--default avatar--default--dynamic" data-user-id="14" data-xf-init="member-tooltip" img="true" style="background-color: #ff8f00; color: #ffe57f">
                                                    <span class="avatar-u14-s" role="img" aria-label="Alex J">A</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="members/matt.13/index.html" class="avatar avatar--s avatar--default avatar--default--dynamic" data-user-id="13" data-xf-init="member-tooltip" img="true" style="background-color: #00838f; color: #84ffff">
                                                    <span class="avatar-u13-s" role="img" aria-label="Matt">M</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="members/will.12/index.html" class="avatar avatar--s avatar--default avatar--default--dynamic" data-user-id="12" data-xf-init="member-tooltip" img="true" style="background-color: #c2185b; color: #ff80ab">
                                                    <span class="avatar-u12-s" role="img" aria-label="will">W</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="members/megan-bergner.11/index.html" class="avatar avatar--s avatar--default avatar--default--dynamic" data-user-id="11" data-xf-init="member-tooltip" img="true" style="background-color: #c0ca33; color: #f4ff81">
                                                    <span class="avatar-u11-s" role="img" aria-label="Megan Bergner">M</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="members/audentio.10/index.html" class="avatar avatar--s avatar--default avatar--default--dynamic" data-user-id="10" data-xf-init="member-tooltip" img="true" style="background-color: #26c6da; color: #84ffff">
                                                    <span class="avatar-u10-s" role="img" aria-label="Audentio">A</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="members/lukas-wieditz.9/index.html" class="avatar avatar--s avatar--default avatar--default--dynamic" data-user-id="9" data-xf-init="member-tooltip" img="true" style="background-color: #fbc02d; color: #ffff8d">
                                                    <span class="avatar-u9-s" role="img" aria-label="Lukas Wieditz">L</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="members/ian-hitt.8/index.html" class="avatar avatar--s avatar--default avatar--default--dynamic" data-user-id="8" data-xf-init="member-tooltip" img="true" style="background-color: #5c6bc0; color: #8c9eff">
                                                    <span class="avatar-u8-s" role="img" aria-label="Ian Hitt">I</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="members/kyler-carlson.7/index.html" class="avatar avatar--s avatar--default avatar--default--dynamic" data-user-id="7" data-xf-init="member-tooltip" img="true" style="background-color: #ffa000; color: #ffe57f">
                                                    <span class="avatar-u7-s" role="img" aria-label="Kyler Carlson">K</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="members/demo.6/index.html" class="avatar avatar--s avatar--default avatar--default--dynamic" data-user-id="6" data-xf-init="member-tooltip" img="true" style="background-color: #bf360c; color: #ff9e80">
                                                    <span class="avatar-u6-s" role="img" aria-label="demo">D</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="members/nikki-radloff.5/index.html" class="avatar avatar--s" data-user-id="5" data-xf-init="member-tooltip" img="true">
                                                    <img src="data/avatars/s/0/5cc8a.jpg?1510698621" srcset="/xf2/themes/data/avatars/m/0/5.jpg?1510698621 2x" alt="Nikki Radloff" class="avatar-u5-s" width="48" height="48" loading="lazy" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="members/jake-booher.3/index.html" class="avatar avatar--s" data-user-id="3" data-xf-init="member-tooltip" img="true">
                                                    <img src="https://secure.gravatar.com/avatar/fe37840154658b0a7219289e6574a9e1?s=48" srcset="https://secure.gravatar.com/avatar/fe37840154658b0a7219289e6574a9e1?s=96 2x" alt="Jake Booher" class="avatar-u3-s" width="48" height="48" loading="lazy" />
                                                </a>
                                            </li>
                                            <li>
                                                <a href="members/mike-creuzer.2/index.html" class="avatar avatar--s" data-user-id="2" data-xf-init="member-tooltip" img="true">
                                                    <img src="https://secure.gravatar.com/avatar/c79b03275d1232fa45e0a6cd0e62bb60?s=48" srcset="https://secure.gravatar.com/avatar/c79b03275d1232fa45e0a6cd0e62bb60?s=96 2x" alt="Mike Creuzer" class="avatar-u2-s" width="48" height="48" loading="lazy" />
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="block" data-widget-section="onlineNow" data-widget-id="6" data-widget-key="forum_overview_members_online" data-widget-definition="fa--xf far fa-comments">
                                <div class="block-container">
                                    <h3 class="block-minorHeader"><a href="/BanQuanTri/BaiViet/BaiVietMoi">Bài Viết Mới</a></h3>
                                    <div class="block-body">
                                        <div class="block-row block-row--minor">
                                            <ul class="listInline listInline--comma">
                                                @foreach (var item in DanhSachBaiVietMoi)
                                                {
                                                    <li><a href="/BanQuanTri/BaiViet/BaiViet?iMaBaiviet=@item.MaBaiViet" class="username" dir="auto" data-user-id="6" data-xf-init="member-tooltip">@item.TenBaiViet</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="block-footer">
                                        @*<span class="block-footer-counter"><a>Xem Thêm</a></span>*@
                                    </div>
                                </div>
                            </div>
                            @*<div class="block" data-widget-id="19" data-widget-key="xfrm_forum_overview_new_resources" data-widget-definition="xfrm_new_resources">
                                    <div class="block-container">
                                        <h3 class="block-minorHeader">
                                            <a href="whats-new/resources/indexc806.html?skip=1" rel="nofollow">Latest resources</a>
                                        </h3>
                                        <ul class="block-body">
                                            <li class="block-row">
                                                <div class="contentRow">
                                                    <div class="contentRow-figure">
                                                        <a href="resources/resource-without-an-icon.1/index.html" class="avatar avatar--xxs avatar--resourceIconDefault"><span></span><span class="u-srOnly">Resource icon</span></a>
                                                    </div>
                                                    <div class="contentRow-main contentRow-main--close">
                                                        <a href="resources/resource-without-an-icon.1/index.html">Resource without an icon</a>
                                                        <div class="contentRow-lesser">No icon</div>
                                                        <div class="contentRow-minor contentRow-minor--smaller">
                                                            <ul class="listInline listInline--bullet">
                                                                <li>Dalton Prock</li>
                                                                <li>Updated: <time class="u-dt" dir="auto" datetime="2017-12-14T14:48:00-0600" data-time="1513284480" data-date-string="Dec 14, 2017" data-time-string="2:48 PM" title="Dec 14, 2017 at 2:48 PM">Dec 14, 2017</time></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>*@
                            <div class="block" data-widget-id="9" data-widget-key="forum_overview_forum_statistics" data-widget-definition="forum_statistics">
                                <div class="block-container">
                                    <h3 class="block-minorHeader">Thống kê</h3>
                                    <div class="block-body block-row">
                                        <dl class="pairs pairs--justified">
                                            <dt><a href="/BanQuanTri/DanhMuc/DanhMuc">Danh Mục</a></dt>
                                            <dd>@ViewBag.DanhMuc</dd>
                                        </dl>
                                        <dl class="pairs pairs--justified">
                                            <dt><a href="/BanQuanTri/ChuDe/ChuDe">Chủ Đề</a></dt>
                                            <dd>@ViewBag.ChuDe</dd>
                                        </dl>
                                        <dl class="pairs pairs--justified">
                                            <dt><a href="/BanQuanTri/BaiViet/BaiVietMoi">Bài Viết</a></dt>
                                            <dd>@ViewBag.BaiViet</dd>
                                        </dl>
                                        <dl class="pairs pairs--justified">
                                            <dt><a href="">Thành Viên</a></dt>
                                            <dd>@ViewBag.ThanhVien</dd>
                                        </dl>
                                        <dl class="pairs pairs--justified">
                                            <dt><a href="">Ban Quản Trị</a></dt>
                                            <dd>@ViewBag.BanQuanTri</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="block" data-widget-id="10" data-widget-key="forum_overview_share_page" data-widget-definition="share_page">
                                <div class="block-container">
                                    <h3 class="block-minorHeader">Chia Sẻ Diễn Đàn</h3>
                                    <div class="block-body block-row" style="text-align: center;">
                                        <a data-xf-click="overlay" data-target=".uix_shareWidgetModal" class="button button--primary"><i class="fa--xf far fa-share" aria-hidden="true"></i> Chia Sẻ</a>
                                        <div style="display: none">
                                            <div class="uix_shareWidgetModal">
                                                <div class="overlay-title">Share</div>
                                                <div class="block-body">
                                                    <div class="block-row">
                                                        <div class="shareButtons shareButtons--iconic" data-xf-init="share-buttons" data-page-url="" data-page-title="" data-page-desc="" data-page-image="">
                                                            <div class="shareButtons-buttons">
                                                                <a class="shareButtons-button shareButtons-button--brand shareButtons-button--facebook" data-href="https://www.facebook.com/sharer.php?u={url}">
                                                                    <i aria-hidden="true"></i>
                                                                    <span>Facebook</span>
                                                                </a>
                                                                <a class="shareButtons-button shareButtons-button--brand shareButtons-button--twitter" data-href="https://twitter.com/intent/tweet?url={url}&amp;text={title}">
                                                                    <i aria-hidden="true"></i>
                                                                    <span>Twitter</span>
                                                                </a>
                                                                <a class="shareButtons-button shareButtons-button--brand shareButtons-button--reddit" data-href="https://reddit.com/submit?url={url}&amp;title={title}">
                                                                    <i aria-hidden="true"></i>
                                                                    <span>Reddit</span>
                                                                </a>
                                                                <a class="shareButtons-button shareButtons-button--brand shareButtons-button--pinterest" data-href="https://pinterest.com/pin/create/bookmarklet/?url={url}&amp;description={title}&amp;media={image}">
                                                                    <i aria-hidden="true"></i>
                                                                    <span>Pinterest</span>
                                                                </a>
                                                                <a class="shareButtons-button shareButtons-button--brand shareButtons-button--tumblr" data-href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={url}&amp;title={title}">
                                                                    <i aria-hidden="true"></i>
                                                                    <span>Tumblr</span>
                                                                </a>
                                                                <a class="shareButtons-button shareButtons-button--brand shareButtons-button--whatsApp" data-href="https://api.whatsapp.com/send?text={title}%20{url}">
                                                                    <i aria-hidden="true"></i>
                                                                    <span>WhatsApp</span>
                                                                </a>
                                                                <a class="shareButtons-button shareButtons-button--email" data-href="mailto:?subject={title}&amp;body={url}">
                                                                    <i aria-hidden="true"></i>
                                                                    <span>Email</span>
                                                                </a>
                                                                <a class="shareButtons-button shareButtons-button--share is-hidden"
                                                                   data-xf-init="web-share"
                                                                   data-title="" data-text="" data-url=""
                                                                   data-hide=".shareButtons-button:not(.shareButtons-button--share)">
                                                                    <i aria-hidden="true"></i>
                                                                    <span>Share</span>
                                                                </a>
                                                                <a class="shareButtons-button shareButtons-button--link is-hidden" data-clipboard="{url}">
                                                                    <i aria-hidden="true"></i>
                                                                    <span>Link</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>