@using Forum.Models;
@model BaiViet
@{
    ViewBag.Title = "Bài Viết";
    Layout = "~/Areas/BanQuanTri/Views/Shared/_Layout.cshtml";
}
@{
    IEnumerable<BinhLuan> DanhSachBinhLuan = ViewBag.BinhLuan as IEnumerable<BinhLuan>;
    IEnumerable<LuotThich> DanhSachLuotThich = ViewBag.Like as IEnumerable<LuotThich>;
    int SL = int.Parse(Model.LuotThich.ToString()) - 1;
    Boolean KiemTra = false;
}
<div class="p-body">
    <div class="p-body-inner ">
        <!--XF:EXTRA_OUTPUT-->
        <div class="breadcrumb ">
            <div class="pageContent">
                <ul class="p-breadcrumbs " itemscope="" itemtype="https://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="/BanQuanTri/Home/Index" itemprop="item">
                            <span itemprop="name">Trang Chủ</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="/BanQuanTri/BaiViet/BaiVietChuDe?iMaChuDe=@Model.ChuDe.MaChuDe" itemprop="item">
                            <span itemprop="name">@Model.ChuDe.TenChuDe</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="/xf2/themes/forums/share-your-opinion.35/" itemprop="item">
                            <span itemprop="name">@Model.TenBaiViet</span>
                        </a>
                        <meta itemprop="position" content="3">
                    </li>
                </ul>
            </div>
        </div>
        <noscript>
            <div class="blockMessage blockMessage--important blockMessage--iconic u-noJsOnly">JavaScript is disabled. For a better experience, please enable JavaScript in your browser before proceeding.</div>
        </noscript>
        <div uix_component="MainContainer" class="uix_contentWrapper">
            <div class="p-body-main  ">
                <div uix_component="MainContent" class="p-body-content">
                    <!-- ABOVE MAIN CONTENT -->
                    <div class="p-body-pageContent">
                        <div class="block block--messages " data-xf-init="lightbox select-to-quote" data-message-selector=".js-post" data-lb-id="thread-77">
                            <div class="block-outer"></div>
                            <div class="block-outer js-threadStatusField"></div>
                            <div class="block-container">
                                <div class="block-body">
                                    <article class="message   message-staffPost   message-threadStarterPost message--post  js-post js-inlineModContainer  " data-author="Megan Bergner" data-content="post-443" id="js-post-443">
                                        <span class="u-anchorTarget" id="post-443"></span>
                                        <div class="message-inner">
                                            <div class="message-cell message-cell--user">
                                                <section itemscope="" itemtype="https://schema.org/Person" class="message-user userExtra--expand">
                                                    <div class="message-avatar ">
                                                        <div class="message-avatar-wrapper">
                                                            <a href="/xf2/themes/members/megan-bergner.11/" class="avatar avatar--s avatar--default avatar--default--dynamic" data-user-id="11" data-xf-init="member-tooltip" style="background-color: #c0ca33; color: #f4ff81" id="js-XFUniqueId7">
                                                                <span class="avatar-u11-s" role="img" aria-label="Megan Bergner">M</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="uix_messagePostBitWrapper">
                                                        <div class="message-userDetails">
                                                            <h4 class="message-name">
                                                                <a href="/xf2/themes/members/megan-bergner.11/" class="username " dir="auto" data-user-id="11" data-xf-init="member-tooltip" itemprop="name" id="js-XFUniqueId8">
                                                                    <span class="username--staff username--moderator username--admin">@Model.NguoiDung.Ho @Model.NguoiDung.Ten</span>
                                                                </a>
                                                            </h4>
                                                            <h5 class="userTitle message-userTitle" dir="auto" itemprop="jobTitle">@Model.NguoiDung.Quyen.TenQuyen</h5>
                                                            <div class="uix_originalPoster__icon" data-xf-init="tooltip" data-original-title="Original poster" aria-label="Original poster" id="js-XFUniqueId9">
                                                                <i class="fa--xf far fa-user-edit mdi mdi-account-edit" aria-hidden="true"></i>
                                                            </div>
                                                            <div class="userBanner userBanner--staff message-userBanner" dir="auto" itemprop="jobTitle">
                                                                <span class="userBanner-before"></span>
                                                                <strong>VIP</strong><span class="userBanner-after"></span>
                                                            </div>
                                                        </div>
                                                        <div class="thThreads__message-userExtras" style="">
                                                            <div class="message-userExtras">
                                                                <dl class="pairs pairs--justified">
                                                                    <dt>
                                                                        <span data-xf-init="tooltip" data-original-title="Ngày Sinh" aria-label="Ngày Sinh" id="js-XFUniqueId10">
                                                                            <i class="fa--xf far fa-user" aria-hidden="true"></i>
                                                                        </span>
                                                                    </dt>
                                                                    <dd>@string.Format("{0:dd/MM/yyyy}", Model.NguoiDung.NgaySinh) </dd>
                                                                </dl>
                                                                <dl class="pairs pairs--justified">
                                                                    <dt>
                                                                        <span data-xf-init="tooltip" data-original-title="Bài Viết" aria-label="Bài Viết" id="js-XFUniqueId11">
                                                                            <i class="fa--xf far fa-comments" aria-hidden="true"></i>
                                                                        </span>
                                                                    </dt>
                                                                    <dd>@Model.NguoiDung.SoBaiViet</dd>
                                                                </dl>
                                                                @*<dl class="pairs pairs--justified">
                                                                        <dt>
                                                                            <span data-xf-init="tooltip" data-original-title="Reaction score" aria-label="Reaction score" id="js-XFUniqueId12">
                                                                                <i class="fa--xf far fa-thumbs-up" aria-hidden="true"></i>
                                                                            </span>
                                                                        </dt>
                                                                        <dd>7</dd>
                                                                    </dl>*@
                                                                <dl class="pairs pairs--justified">
                                                                    <dt>
                                                                        <span data-xf-init="tooltip" data-original-title="Điểm Thành Tích" aria-label="Points" id="js-XFUniqueId13">
                                                                            <i class="fa--xf far fa-trophy" aria-hidden="true"></i>
                                                                        </span>
                                                                    </dt>
                                                                    <dd>@Model.NguoiDung.DiemThanhTich</dd>
                                                                </dl>
                                                            </div>
                                                        </div>
                                                        <div class="thThreads__userExtra--toggle">
                                                            <a href="javascript:;" class="thThreads__userExtra--trigger" data-xf-click="ththreads-userextra-trigger"></a>
                                                        </div>
                                                    </div>
                                                    <span class="message-userArrow"></span>
                                                </section>
                                            </div>
                                            <div class="message-cell message-cell--main">
                                                <div class="message-main uix_messageContent js-quickEditTarget">
                                                    <header class="message-attribution message-attribution--split">
                                                        @*<ul class="message-attribution-main listInline ">
                                                                <li class="u-concealed">
                                                                    <a href="/xf2/themes/threads/show-recommendations.77/post-443" rel="nofollow" style="float:right">
                                                                        <time class="u-dt" dir="auto" datetime="2020-10-07T09:49:16-0500" data-time="1602082156" itemprop="datePublished">@Model.NgayDang</time>
                                                                    </a>
                                                                </li>
                                                            </ul>*@
                                                        <ul class="message-attribution-opposite message-attribution-opposite--list ">
                                                            <li style="color:black">
                                                                @if (Session["TaiKhoan"] != null)
                                                                {
                                                                    NguoiDung tk = (NguoiDung)Session["TaiKhoan"];
                                                                    if (tk.MaQuyen == 1)// admin
                                                                    {
                                                                        <a href="/BanQuanTri/BaiViet/XoaBaiviet?iMaBaiViet=@Model.MaBaiViet" rel="nofollow">
                                                                            [Xóa]
                                                                        </a>
                                                                        <a href="/BanQuanTri/BaiViet/CapNhatBaiViet?iMaBaiViet=@Model.MaBaiViet" rel="nofollow">
                                                                            [Cập Nhật]
                                                                        </a>
                                                                    }
                                                                    if (tk.TaiKhoan == Model.TaiKhoan)
                                                                    {
                                                                        <a href="/BanQuanTri/BaiViet/XoaBaiviet?iMaBaiViet=@Model.MaBaiViet" rel="nofollow">
                                                                            [Xóa]
                                                                        </a>
                                                                        <a href="/BanQuanTri/BaiViet/CapNhatBaiViet?iMaBaiViet=@Model.MaBaiViet" rel="nofollow">
                                                                            [Cập Nhật]
                                                                        </a>
                                                                    }
                                                                }
                                                                <a>
                                                                    [Ngày Đăng: @string.Format("{0:dd/MM/yyyy}", Model.NgayDang)]
                                                                </a>
                                                                <a>
                                                                    [Cập Nhật: @string.Format("{0:dd/MM/yyyy}", Model.NgayCapNhat)]
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/xf2/themes/threads/show-recommendations.77/post-443" class="message-attribution-gadget" data-xf-init="share-tooltip" data-href="/xf2/themes/posts/443/share" aria-label="Share" rel="nofollow" id="js-XFUniqueId14">
                                                                    <i class="fa--xf far fa-share-alt" aria-hidden="true"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/xf2/themes/threads/show-recommendations.77/post-443" rel="nofollow">
                                                                    #@Model.MaBaiViet
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </header>
                                                    <h3 style="color:black">@Model.TenBaiViet</h3>

                                                    <div class="message-content js-messageContent">
                                                        <div class="message-userContent lbContainer js-lbContainer " data-lb-id="post-443" data-lb-caption-desc="Megan Bergner · Oct 7, 2020 at 9:49 AM">
                                                            <article class="message-body js-selectToQuote">
                                                                <div class="bbWrapper">
                                                                    @Html.Raw(Model.NoiDungBaiViet)
                                                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="smilie smilie--sprite smilie--sprite1" alt=":)" title="Smile    :)" loading="lazy" data-shortname=":)">
                                                                </div>
                                                                <div class="js-selectToQuoteEnd">&nbsp;</div>
                                                            </article>
                                                        </div>
                                                    </div>
                                                    <!-- #region Thích -->
                                                    <div class="reactionsBar js-reactionsList is-active">
                                                        @if (Session["TaiKhoan"] == null)
                                                        {
                                                            <ul class="reactionSummary">
                                                                <li>
                                                                    <span class="reaction reaction--small reaction--4" data-reaction-id="4">
                                                                        <img src="~/Assets/BanQuanTri/images/like1.png" class="reaction-sprite js-reaction" alt="Like" title="Like">
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                            <span class="u-srOnly">Reactions:</span>
                                                            <span class="reactionsBar-link" href="/BanQuanTri/BaiViet/Like?iMaBaiViet=@Model.MaBaiViet" data-cache="false" rel="nofollow">
                                                                <bdi>Thích (@Model.LuotThich)</bdi>
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            if (DanhSachLuotThich.Count() != 0) // bài viết đã có lượt thích
                                                            {
                                                                NguoiDung tk = (NguoiDung)Session["TaiKhoan"];
                                                                foreach (var item in DanhSachLuotThich)
                                                                {
                                                                    if (tk.TaiKhoan == item.TaiKhoan) // đã like
                                                                    {
                                                                        <ul class="reactionSummary">
                                                                            <li>
                                                                                <span class="reaction reaction--small reaction--4" data-reaction-id="4">
                                                                                    <img src="~/Assets/BanQuanTri/images/like2.png" class="reaction-sprite js-reaction" alt="Hủy Like" title="HủyLike">
                                                                                </span>
                                                                            </li>
                                                                        </ul>
                                                                        <span class="u-srOnly">Reactions:</span>
                                                                        <a class="reactionsBar-link" href="/BanQuanTri/BaiViet/Like?iMaBaiViet=@Model.MaBaiViet" data-cache="false" rel="nofollow">
                                                                            @if (SL == 0)
                                                                            {
                                                                                <bdi>@tk.Ho @tk.Ten đã thích</bdi>
                                                                            }
                                                                            else
                                                                            {
                                                                                <bdi>@tk.Ten và @SL người khác</bdi>
                                                                            }
                                                                        </a>
                                                                        KiemTra = true; // đã có
                                                                    }
                                                                }
                                                                if (KiemTra == false) // chưa có
                                                                {
                                                                    <ul class="reactionSummary">
                                                                        <li>
                                                                            <span class="reaction reaction--small reaction--4" data-reaction-id="4">
                                                                                <img src="~/Assets/BanQuanTri/images/like1.png" class="reaction-sprite js-reaction" alt="Like" title="Like">
                                                                            </span>
                                                                        </li>
                                                                    </ul>
                                                                    <span class="u-srOnly">Reactions:</span>
                                                                    <a class="reactionsBar-link" href="/BanQuanTri/BaiViet/Like?iMaBaiViet=@Model.MaBaiViet" data-cache="false" rel="nofollow">
                                                                        <bdi>Thích @Model.LuotThich</bdi>
                                                                    </a>

                                                                }
                                                            }
                                                            //else // bài viết chưa có lượt thích
                                                            if (DanhSachLuotThich.Count() == 0 || DanhSachLuotThich == null) // bài viết chưa có lượt thích
                                                            {
                                                                <ul class="reactionSummary">
                                                                    <li>
                                                                        <span class="reaction reaction--small reaction--4" data-reaction-id="4">
                                                                            <img src="~/Assets/BanQuanTri/images/like1.png" class="reaction-sprite js-reaction" alt="Like" title="Like">
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                                <span class="u-srOnly">Reactions:</span>
                                                                <a class="reactionsBar-link" href="/BanQuanTri/BaiViet/Like?iMaBaiViet=@Model.MaBaiViet" data-cache="false" rel="nofollow">
                                                                    <bdi>Thích (@Model.LuotThich)</bdi>
                                                                </a>
                                                            }
                                                        }
                                                    </div>
                                                    <!-- #endregion -->
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="block block--messages" data-xf-init="" data-type="post" data-href="/xf2/themes/inline-mod/" data-search-target="*">
                            <span class="u-anchorTarget" id="posts"></span>
                            <div class="block-outer">
                                <div class="block-outer-opposite">
                                    <div class="tabs tabs--standalone tabs--standalone--small tabs--standalone--inline">
                                    </div>
                                </div>
                            </div>
                            <div class="block-container lbContainer" data-xf-init="lightbox select-to-quote" data-message-selector=".js-post" data-lb-id="thread-77" data-lb-universal="0">
                                <div class="block-body js-replyNewMessageContainer">
                                    @if (DanhSachBinhLuan != null)
                                    {
                                        foreach (var item in DanhSachBinhLuan)
                                        {
                                            <article class="message   message--post   js-post js-inlineModContainer  " data-author="Audentio" data-content="post-521" id="js-post-521">
                                                <span class="u-anchorTarget" id="post-521"></span>
                                                <div class="message-inner">
                                                    <div class="message-cell message-cell--user">
                                                        <section itemscope="" itemtype="https://schema.org/Person" class="message-user ">
                                                            <div class="message-avatar ">
                                                                <div class="message-avatar-wrapper">
                                                                    <a href="/xf2/themes/members/audentio.10/" class="avatar avatar--s avatar--default avatar--default--dynamic" data-user-id="10" data-xf-init="member-tooltip" style="background-color: #26c6da; color: #84ffff" id="js-XFUniqueId48">
                                                                        <span class="avatar-u10-s" role="img" aria-label="Audentio">A</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="uix_messagePostBitWrapper">
                                                                <div class="message-userDetails">
                                                                    <h4 class="message-name"><a href="/xf2/themes/members/audentio.10/" class="username " dir="auto" data-user-id="10" data-xf-init="member-tooltip" itemprop="name" id="js-XFUniqueId49"><span class="username--admin">@item.NguoiDung.Ho @item.NguoiDung.Ten</span></a></h4>
                                                                    <h5 class="userTitle message-userTitle" dir="auto" itemprop="jobTitle">@item.NguoiDung.Quyen.TenQuyen</h5>
                                                                </div>
                                                                <div class="thThreads__message-userExtras">
                                                                    <div class="message-userExtras">
                                                                        <dl class="pairs pairs--justified">
                                                                            <dt>
                                                                                <span data-xf-init="tooltip" data-original-title="Ngày Sinh" aria-label="Ngày Sinh" id="js-XFUniqueId50">
                                                                                    <i class="fa--xf far fa-user" aria-hidden="true"></i>
                                                                                </span>
                                                                            </dt>
                                                                            <dd>@string.Format("{0:dd/MM/yyyy}", item.NguoiDung.NgaySinh)</dd>
                                                                        </dl>
                                                                        <dl class="pairs pairs--justified">
                                                                            <dt>
                                                                                <span data-xf-init="tooltip" data-original-title="Bài Viết" aria-label="Bài Viết" id="js-XFUniqueId51">
                                                                                    <i class="fa--xf far fa-comments" aria-hidden="true"></i>
                                                                                </span>
                                                                            </dt>
                                                                            <dd>@item.NguoiDung.SoBaiViet</dd>
                                                                        </dl>
                                                                        @*<dl class="pairs pairs--justified">
                                                                                <dt>
                                                                                    <span data-xf-init="tooltip" data-original-title="Reaction score" aria-label="Reaction score" id="js-XFUniqueId52">
                                                                                        <i class="fa--xf far fa-thumbs-up" aria-hidden="true"></i>
                                                                                    </span>
                                                                                </dt>
                                                                                <dd>2</dd>
                                                                            </dl>*@
                                                                        <dl class="pairs pairs--justified">
                                                                            <dt>
                                                                                <span data-xf-init="tooltip" data-original-title="Điểm Thành Tích" aria-label="Điểm Thành Tích" id="js-XFUniqueId53">
                                                                                    <i class="fa--xf far fa-trophy" aria-hidden="true"></i>
                                                                                </span>
                                                                            </dt>
                                                                            <dd>@item.NguoiDung.DiemThanhTich</dd>
                                                                        </dl>
                                                                    </div>
                                                                </div>
                                                                <div class="thThreads__userExtra--toggle">
                                                                    <a href="javascript:;" class="thThreads__userExtra--trigger" data-xf-click="ththreads-userextra-trigger"></a>
                                                                </div>
                                                            </div>
                                                            <span class="message-userArrow"></span>
                                                        </section>
                                                    </div>
                                                    <div class="message-cell message-cell--main">
                                                        <div class="message-main uix_messageContent js-quickEditTarget">
                                                            <header class="message-attribution message-attribution--split">
                                                                <ul class="message-attribution-main listInline ">
                                                                    <li class="u-concealed">
                                                                        <a href="/xf2/themes/threads/show-recommendations.77/post-521" rel="nofollow">
                                                                            <time class="u-dt" dir="auto" data-time-string="1:24 PM" itemprop="datePublished">@item.NgayBinhLuan</time>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                                <ul class="message-attribution-opposite message-attribution-opposite--list ">
                                                                    <li>
                                                                        <a href="/xf2/themes/threads/show-recommendations.77/post-521" class="message-attribution-gadget" data-xf-init="share-tooltip" data-href="/xf2/themes/posts/521/share" aria-label="Share" rel="nofollow" id="js-XFUniqueId54">
                                                                            <i class="fa--xf far fa-share-alt" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/xf2/themes/threads/show-recommendations.77/post-521" rel="nofollow">
                                                                            #@item.MaBinhLuan
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </header>
                                                            <div class="message-content js-messageContent">
                                                                <div class="message-userContent lbContainer js-lbContainer " data-lb-id="post-521" data-lb-caption-desc="Audentio · Mar 10, 2021 at 1:24 PM">
                                                                    <article class="message-body js-selectToQuote">
                                                                        <div class="bbWrapper">
                                                                            @*<blockquote data-attributes="member: 6" data-quote="demo" data-source="post: 520" class="bbCodeBlock bbCodeBlock--expandable bbCodeBlock--quote js-expandWatch">
                                                                                    <div class="bbCodeBlock-title">
                                                                                        <a href="/xf2/themes/goto/post?id=520" class="bbCodeBlock-sourceJump" rel="nofollow" data-xf-click="attribution" data-content-selector="#post-520">demo said:</a>
                                                                                    </div>
                                                                                    <div class="bbCodeBlock-content">
                                                                                        <div class="bbCodeBlock-expandContent js-expandContent ">
                                                                                            Bye
                                                                                        </div>
                                                                                        <div class="bbCodeBlock-expandLink js-expandLink"><a role="button" tabindex="0">Click to expand...</a></div>
                                                                                    </div>
                                                                                </blockquote>*@
                                                                            @Html.Raw(item.NoiDungBinhLuan)
                                                                        </div>
                                                                        <div class="js-selectToQuoteEnd">&nbsp;</div>
                                                                    </article>
                                                                </div>
                                                            </div>
                                                            <div class="reactionsBar js-reactionsList is-active">
                                                                <ul class="reactionSummary">
                                                                    <li><span class="reaction reaction--small reaction--1" data-reaction-id="1"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Like" title="Like"></span></li>
                                                                </ul>
                                                                <span class="u-srOnly">Reactions:</span>
                                                                @*<a class="reactionsBar-link" href="/xf2/themes/posts/521/reactions" data-xf-click="overlay" data-cache="false" rel="nofollow"><bdi>demo</bdi></a>*@
                                                            </div>
                                                            <footer class="message-footer">
                                                                <div class="js-historyTarget message-historyTarget toggleTarget" data-href="trigger-href"></div>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                    <div class="message-cell message-cell--vote">
                                                        <div class="message-column">
                                                            <div class="contentVote  js-contentVote " data-xf-init="content-vote" data-content-id="post-521">
                                                                @*<a href="javascript:" class="contentVote-vote is-disabled contentVote-vote--up " data-vote="up"><span class="u-srOnly">Upvote</span></a>
                                                                    <span class="contentVote-score is-positive  js-voteCount" data-score="1">1</span>
                                                                    <a href="javascript:" class="contentVote-vote is-disabled contentVote-vote--down " data-vote="down"><span class="u-srOnly">Downvote</span></a>*@
                                                                @if (Session["TaiKhoan"] == null)
                                                                {

                                                                }
                                                                else
                                                                {
                                                                    using (Html.BeginForm("XoaBinhLuan", "BaiViet", new { @iMaBinhLuan = item.MaBinhLuan, @strURL = Request.Url.ToString() }))
                                                                    {
                                                                        NguoiDung tk = (NguoiDung)Session["TaiKhoan"];
                                                                        if (tk.MaQuyen == 1) // admin thì có quyền xóa tất cả bình luận của thành viên
                                                                        {
                                                                            <button type="submit" style="background-color:red" class="button--primary button button--icon rippleButton rippleButton">
                                                                                <span class="button-text">Xóa</span>
                                                                                <div class="ripple-container"></div>
                                                                            </button><br />
                                                                            <a href="/BanQuanTri/BaiViet/CapNhatBinhLuan?iMaBinhLuan=@item.MaBinhLuan" style="margin-top:5px" class="button--primary button button--icon rippleButton rippleButton">Sửa</a>
                                                                        }
                                                                        else if (tk.TaiKhoan == item.TaiKhoan) // còn lại thành viên chỉ được xóa hoặc cập nhật bình luận của thành viên đó
                                                                        {
                                                                            <button type="submit" style="background-color:red" class="button--primary button button--icon rippleButton rippleButton">
                                                                                <span class="button-text">Xóa</span>
                                                                                <div class="ripple-container"></div>
                                                                            </button><br />
                                                                            <a href="/BanQuanTri/BaiViet/CapNhatBinhLuan?iMaBinhLuan=@item.MaBinhLuan" style="margin-top:5px" class="button--primary button button--icon rippleButton rippleButton">Sửa</a>
                                                                        }
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        }
                                    }
                                    <!-- #region Bình luận -->
                                    @if (Session["TaiKhoan"] == null)
                                    {
                                        <br />
                                        <b style="font-size: 1em">Bạn cần <a href="/BanQuanTri/DangNhap/TrangDangNhap"> Đăng Nhập</a> để thực hiện chức năng bình luận</b>
                                    }
                                    else
                                    {
                                        NguoiDung tk = (NguoiDung)Session["TaiKhoan"];
                                        <article class="message   message--post   js-post js-inlineModContainer  " data-author="Audentio" data-content="post-521" id="js-post-521">
                                            <span class="u-anchorTarget" id="post-521"></span>
                                            <div class="message-inner">
                                                <div class="message-cell message-cell--user">
                                                    <section itemscope="" itemtype="https://schema.org/Person" class="message-user ">
                                                        <div class="message-avatar ">
                                                            <div class="message-avatar-wrapper">
                                                                <a href="/xf2/themes/members/audentio.10/" class="avatar avatar--s avatar--default avatar--default--dynamic" data-user-id="10" data-xf-init="member-tooltip" style="background-color: #26c6da; color: #84ffff" id="js-XFUniqueId48">
                                                                    <span class="avatar-u10-s" role="img" aria-label="Audentio">A</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="uix_messagePostBitWrapper">
                                                            <div class="message-userDetails">
                                                                <h4 class="message-name"><a href="/xf2/themes/members/audentio.10/" class="username " dir="auto" data-user-id="10" data-xf-init="member-tooltip" itemprop="name" id="js-XFUniqueId49"><span class="username--admin">@tk.Ho @tk.Ten</span></a></h4>
                                                                <h5 class="userTitle message-userTitle" dir="auto" itemprop="jobTitle">@tk.Quyen.TenQuyen</h5>
                                                            </div>
                                                            <div class="thThreads__message-userExtras">
                                                                <div class="message-userExtras">
                                                                    <dl class="pairs pairs--justified">
                                                                        <dt>
                                                                            <span data-xf-init="tooltip" data-original-title="Ngày Sinh" aria-label="Ngày Sinh" id="js-XFUniqueId50">
                                                                                <i class="fa--xf far fa-user" aria-hidden="true"></i>
                                                                            </span>
                                                                        </dt>
                                                                        <dd>@string.Format("{0:dd/MM/yyyy}", tk.NgaySinh)</dd>
                                                                    </dl>
                                                                    <dl class="pairs pairs--justified">
                                                                        <dt>
                                                                            <span data-xf-init="tooltip" data-original-title="Bài Viết" aria-label="Bài Viết" id="js-XFUniqueId51">
                                                                                <i class="fa--xf far fa-comments" aria-hidden="true"></i>
                                                                            </span>
                                                                        </dt>
                                                                        <dd>@tk.SoBaiViet</dd>
                                                                    </dl>
                                                                    <dl class="pairs pairs--justified">
                                                                        <dt>
                                                                            <span data-xf-init="tooltip" data-original-title="Điểm Thành Tích" aria-label="Điểm Thành Tích" id="js-XFUniqueId53">
                                                                                <i class="fa--xf far fa-trophy" aria-hidden="true"></i>
                                                                            </span>
                                                                        </dt>
                                                                        <dd>@tk.DiemThanhTich</dd>
                                                                    </dl>
                                                                </div>
                                                            </div>
                                                            <div class="thThreads__userExtra--toggle">
                                                                <a href="javascript:;" class="thThreads__userExtra--trigger" data-xf-click="ththreads-userextra-trigger"></a>
                                                            </div>
                                                        </div>
                                                        <span class="message-userArrow"></span>
                                                    </section>
                                                </div>
                                                <div class="message-cell message-cell--main">
                                                    <div class="message-main uix_messageContent js-quickEditTarget">
                                                        @*<header class="message-attribution message-attribution--split">
                                                                <ul class="message-attribution-main listInline ">
                                                                    <li class="u-concealed">
                                                                        <a href="/xf2/themes/threads/show-recommendations.77/post-521" rel="nofollow">
                                                                            <time class="u-dt" dir="auto" datetime="2021-03-10T13:24:46-0600" data-time="1615404286" data-date-string="Mar 10, 2021" data-time-string="1:24 PM" title="Mar 10, 2021 at 1:24 PM" itemprop="datePublished">Mar 10, 2021</time>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                                <ul class="message-attribution-opposite message-attribution-opposite--list ">
                                                                    <li>
                                                                        <a href="/xf2/themes/threads/show-recommendations.77/post-521" class="message-attribution-gadget" data-xf-init="share-tooltip" data-href="/xf2/themes/posts/521/share" aria-label="Share" rel="nofollow" id="js-XFUniqueId54">
                                                                            <i class="fa--xf far fa-share-alt" aria-hidden="true"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="/xf2/themes/threads/show-recommendations.77/post-521" rel="nofollow">
                                                                            #6
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </header>*@
                                                        <div class="message-content js-messageContent">
                                                            <div class="message-userContent lbContainer js-lbContainer " data-lb-id="post-521" data-lb-caption-desc="Audentio · Mar 10, 2021 at 1:24 PM">
                                                                <article class="message-body js-selectToQuote">
                                                                    @using (Html.BeginForm("ThemBinhLuan", "BaiViet", new { @strURL = Request.Url.ToString() }))
                                                                    {
                                                                        <input type="number" value="@Model.MaBaiViet" style="display:none" name="txtMaBaiViet" />
                                                                        <div class="bbWrapper">
                                                                            <textarea name="NoiDungBinhLuan" id="NoiDungBinhLuan"></textarea>
                                                                        </div>
                                                                        <div class="js-selectToQuoteEnd">&nbsp;</div><br />
                                                                        <button type="submit" class="button--primary button button--icon rippleButton rippleButton">
                                                                            <span class="button-text">Bình Luận</span>
                                                                            <div class="ripple-container"></div>
                                                                        </button>
                                                                    }
                                                                </article>
                                                            </div>
                                                        </div>
                                                        @*<div class="reactionsBar js-reactionsList is-active">
                                                                <ul class="reactionSummary">
                                                                    <li><span class="reaction reaction--small reaction--1" data-reaction-id="1"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Like" title="Like"></span></li>
                                                                </ul>
                                                                <span class="u-srOnly">Reactions:</span>
                                                                <a class="reactionsBar-link" href="/xf2/themes/posts/521/reactions" data-xf-click="overlay" data-cache="false" rel="nofollow">
                                                                    <bdi>demo</bdi>
                                                                </a>
                                                            </div>*@
                                                        <footer class="message-footer">
                                                            <div class="js-historyTarget message-historyTarget toggleTarget" data-href="trigger-href"></div>
                                                        </footer>
                                                    </div>
                                                </div>
                                                @*<div class="message-cell message-cell--vote">
                                                        <div class="message-column">
                                                            <div class="contentVote  js-contentVote " data-xf-init="content-vote" data-content-id="post-521">
                                                                <a href="javascript:" class="contentVote-vote is-disabled contentVote-vote--up " data-vote="up"><span class="u-srOnly">Upvote</span></a>
                                                                <span class="contentVote-score is-positive  js-voteCount" data-score="1">1</span>
                                                                <a href="javascript:" class="contentVote-vote is-disabled contentVote-vote--down " data-vote="down"><span class="u-srOnly">Downvote</span></a>
                                                            </div>
                                                        </div>
                                                    </div>*@
                                            </div>
                                        </article>
                                    }
                                    <!-- #endregion -->
                                </div>
                            </div>
                        </div>
                        <div class="blockMessage blockMessage--none">
                            <div class="shareButtons shareButtons--iconic" data-xf-init="share-buttons" data-page-url="" data-page-title="" data-page-desc="" data-page-image="">
                                <span class="shareButtons-label">Share:</span>
                                <div class="shareButtons-buttons">
                                    <a class="shareButtons-button shareButtons-button--brand shareButtons-button--facebook" data-href="https://www.facebook.com/sharer.php?u={url}" id="js-XFUniqueId55">
                                        <i aria-hidden="true"></i>
                                        <span>Facebook</span>
                                    </a>
                                    <a class="shareButtons-button shareButtons-button--brand shareButtons-button--twitter" data-href="https://twitter.com/intent/tweet?url={url}&amp;text={title}" id="js-XFUniqueId56">
                                        <i aria-hidden="true"></i>
                                        <span>Twitter</span>
                                    </a>
                                    <a class="shareButtons-button shareButtons-button--brand shareButtons-button--reddit" data-href="https://reddit.com/submit?url={url}&amp;title={title}" id="js-XFUniqueId57">
                                        <i aria-hidden="true"></i>
                                        <span>Reddit</span>
                                    </a>
                                    <a class="shareButtons-button shareButtons-button--brand shareButtons-button--pinterest" data-href="https://pinterest.com/pin/create/bookmarklet/?url={url}&amp;description={title}&amp;media={image}" id="js-XFUniqueId58">
                                        <i aria-hidden="true"></i>
                                        <span>Pinterest</span>
                                    </a>
                                    <a class="shareButtons-button shareButtons-button--brand shareButtons-button--tumblr" data-href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={url}&amp;title={title}" id="js-XFUniqueId59">
                                        <i aria-hidden="true"></i>
                                        <span>Tumblr</span>
                                    </a>
                                    <a class="shareButtons-button shareButtons-button--brand shareButtons-button--whatsApp" data-href="https://api.whatsapp.com/send?text={title}&nbsp;{url}" id="js-XFUniqueId60">
                                        <i aria-hidden="true"></i>
                                        <span>WhatsApp</span>
                                    </a>
                                    <a class="shareButtons-button shareButtons-button--email" data-href="mailto:?subject={title}&amp;body={url}" id="js-XFUniqueId61">
                                        <i aria-hidden="true"></i>
                                        <span>Email</span>
                                    </a>
                                    <a class="shareButtons-button shareButtons-button--share is-hidden" data-xf-init="web-share" data-title="" data-text="" data-url="" data-hide=".shareButtons-button:not(.shareButtons-button--share)" id="js-XFUniqueId62">
                                        <i aria-hidden="true"></i>
                                        <span>Share</span>
                                    </a>
                                    <a class="shareButtons-button shareButtons-button--link" data-clipboard="{url}" id="js-XFUniqueId63">
                                        <i aria-hidden="true"></i>
                                        <span>Link</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BELOW MAIN CONTENT -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    CKEDITOR.replace("NoiDungBinhLuan");
</script>