@using Forum.Models;
@model ChuDe
@{
    ViewBag.Title = "Bài Viết Theo Chủ Đề";
    Layout = "~/Areas/BanQuanTri/Views/Shared/_Layout.cshtml";
}
@{
    IEnumerable<BaiViet> DanhSachBaiViet = ViewBag.BaiViet as IEnumerable<BaiViet>;
}
<div class="p-body">
    <div class="p-body-inner ">
        <!--XF:EXTRA_OUTPUT-->
        <div class="breadcrumb ">
            <div class="pageContent">
                <ul class="p-breadcrumbs " itemscope="" itemtype="https://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="/BanQuanTri/Home/Index" itemprop="item">
                            <span itemprop="name">Trang Chủ</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="/xf2/themes/categories/general.1/" itemprop="item">
                            <span itemprop="name">Bài Viết Về @Model.TenChuDe</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                </ul>
                <a href="/BanQuanTri/BaiViet/ThemMoiBaiViet?iMaChuDe=@Model.MaChuDe" class="button--link button--wrap button rippleButton rippleButton">Thêm Mới</a>
            </div>
        </div>
        <noscript>
            <div class="blockMessage blockMessage--important blockMessage--iconic u-noJsOnly">JavaScript is disabled. For a better experience, please enable JavaScript in your browser before proceeding.</div>
        </noscript>
        <div uix_component="MainContainer" class="uix_contentWrapper">
            <div class="p-body-main  ">
                <div uix_component="MainContent" class="p-body-content">
                    <!-- ABOVE MAIN CONTENT -->
                    <div class="p-body-pageContent">
                        <div class="block " data-xf-init="" data-type="thread" data-href="/xf2/themes/inline-mod/">
                            <div class="block-outer"></div>
                            <div class="block-container uix_discussionList">
                                <h2 class="block-tabHeader tabs">
                                    <div class="hScroller" data-xf-init="h-scroller">
                                        <span class="hScroller-scroll is-calculated" style="margin-bottom: -47px;">
                                            <a href="/xf2/themes/forums/share-your-opinion.35/" class="tabs-tab is-active rippleButton">
                                                Danh Sách Bài Viết
                                                <div class="ripple-container"></div>
                                            </a>
                                            @*<a href="/xf2/themes/forums/share-your-opinion.35/?order=reply_count" class="tabs-tab  rippleButton" rel="nofollow">Popular</a>
                                                <a href="/xf2/themes/forums/share-your-opinion.35/?order=post_date" class="tabs-tab  rippleButton" rel="nofollow">Newest</a>
                                                <a href="/xf2/themes/forums/share-your-opinion.35/?unanswered=1" class="tabs-tab  rippleButton" rel="nofollow">Unanswered</a>
                                                <a href="/xf2/themes/forums/share-your-opinion.35/?unsolved=1" class="tabs-tab  rippleButton" rel="nofollow">Unsolved</a>*@
                                        </span>
                                        <i class="hScroller-action hScroller-action--end" aria-hidden="true"></i><i class="hScroller-action hScroller-action--start" aria-hidden="true"></i>
                                    </div>
                                    <div class="tabs-extra tabs-extra--minor">
                                        <a class="menuTrigger" data-xf-click="menu" role="button" tabindex="0" aria-expanded="false" aria-haspopup="true">Filters</a>
                                        <div class="menu menu--wide" data-menu="menu" aria-hidden="true" data-href="/xf2/themes/forums/share-your-opinion.35/filters" data-load-target=".js-filterMenuBody">
                                            <div class="menu-content">
                                                <h4 class="menu-header">Show only:</h4>
                                                <div class="js-filterMenuBody">
                                                    <div class="menu-row">Loading…</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h2>
                                <div class="block-body">
                                    <div class="structItemContainer">
                                        <div class="structItemContainer-group js-threadList">
                                            @foreach (var item in DanhSachBaiViet)
                                            {
                                                <div class="structItem structItem--thread js-inlineModContainer js-threadListItem-75" data-author="Megan Bergner">
                                                    <div class="structItem-cell structItem-cell--icon">
                                                        <div class="structItem-iconContainer">
                                                            <a href="/xf2/themes/members/megan-bergner.11/" class="avatar avatar--s avatar--default avatar--default--dynamic" data-user-id="11" data-xf-init="member-tooltip" style="background-color: #c0ca33; color: #f4ff81" id="js-XFUniqueId11">
                                                                <span class="avatar-u11-s" role="img" aria-label="Megan Bergner">M</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">
                                                        @*<ul class="structItem-statuses">
                                                            <li>
                                                                <i class="structItem-status structItem-status--solved" aria-hidden="true" title="Solved"></i>
                                                                <span class="u-srOnly">Solved</span>
                                                            </li>
                                                        </ul>*@
                                                        <div class="structItem-title" uix-href="/xf2/themes/threads/favorite-cookie.75/">
                                                            <a href="/BanQuanTri/BaiViet/BaiViet?iMaBaiviet=@item.MaBaiViet" class="" data-tp-primary="on" data-xf-init="preview-tooltip" data-preview-url="/xf2/themes/threads/favorite-cookie.75/preview" id="js-XFUniqueId12">@item.TenBaiViet</a>
                                                        </div>
                                                        <div class="structItem-minor">
                                                            <ul class="structItem-parts">
                                                                <li>
                                                                    <a href="/xf2/themes/members/megan-bergner.11/" class="username " dir="auto" data-user-id="11" data-xf-init="member-tooltip" id="js-XFUniqueId13">
                                                                        @if (item.NguoiDung.MaQuyen == 1)
                                                                        {
                                                                            <span class="username--staff username--moderator username--admin" style="color:red">@item.NguoiDung.Ho @item.NguoiDung.Ten</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="username--staff username--moderator username--admin">@item.NguoiDung.Ho @item.NguoiDung.Ten</span>
                                                                        }
                                                                    </a>
                                                                </li>
                                                                <li class="structItem-startDate">
                                                                    <a href="" rel="nofollow">
                                                                        <time class="u-dt" dir="auto" datetime="2020-10-07T09:35:15-0500" data-time="1602081315" >@item.NgayDang</time>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="structItem-cell structItem-cell--meta" title="First message reaction score: 0">
                                                        <dl class="pairs pairs--justified">
                                                            <dt>Lượt Xem</dt>
                                                            <dd>@item.LuotXem</dd>
                                                        </dl>
                                                        <dl class="pairs pairs--justified">
                                                            <dt>Bình Luận:</dt>
                                                            <dd>@item.BinhLuan</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="structItem-cell structItem-cell--latest ">
                                                        <a href="/xf2/themes/threads/favorite-cookie.75/latest" rel="nofollow"><time class="structItem-latestDate u-dt" dir="auto" datetime="2020-10-07T09:43:26-0500" data-time="1602081806" data-date-string="Oct 7, 2020" data-time-string="9:43 AM" title="Oct 7, 2020 at 9:43 AM">Oct 7, 2020</time></a>
                                                        <div class="structItem-minor">
                                                            <a href="/xf2/themes/members/dalton-prock.1/" class="username " dir="auto" data-user-id="1" data-xf-init="member-tooltip" id="js-XFUniqueId14"><span class="username--staff username--moderator username--admin">Dalton Prock</span></a>
                                                        </div>
                                                    </div>
                                                    <div class="structItem-cell structItem-cell--icon structItem-cell--iconEnd">
                                                        <div class="structItem-iconContainer">
                                                            <a href="/xf2/themes/members/dalton-prock.1/" class="avatar avatar--xxs" data-user-id="1" data-xf-init="member-tooltip" id="js-XFUniqueId15">
                                                                <img src="https://secure.gravatar.com/avatar/7998cab7539184204cde363cc78fd555?s=48" alt="Dalton Prock" class="avatar-u1-s" width="48" height="48" loading="lazy">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-outer block-outer--after">
                                <div class="block-outer-opposite">
                                    <a href="/xf2/themes/login/" class="button--link button--wrap button rippleButton" data-xf-click="overlay">
                                        <span class="button-text">
                                            You must log in or register to post here.
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BELOW MAIN CONTENT -->
                </div>
            </div>
        </div>
    </div>
</div>