@using Forum.Models;
@model IEnumerable<NguoiDung>
@{
    ViewBag.Title = "Người Dùng";
    Layout = "~/Areas/BanQuanTri/Views/Shared/_Layout.cshtml";
}
<div class="p-body" id="DanhSachDanhMuc">
    <div class="p-body-inner ">
        <!--XF:EXTRA_OUTPUT-->
        <div class="breadcrumb ">
            <div class="pageContent">
                <ul class="p-breadcrumbs " itemscope="" itemtype="https://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="/BanQuanTri/Home/Index" itemprop="item">
                            <span itemprop="name">Trang Chủ</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="#" itemprop="item">
                            <span itemprop="name">Người Dùng</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                </ul>
                <input type="text" placeholder="Tìm kiếm..." class="search" />
            </div>
        </div>
        <div uix_component="MainContainer" class="uix_contentWrapper">
            <div class="p-body-main  ">
                <div uix_component="MainContent" class="p-body-content">
                    <!-- ABOVE MAIN CONTENT -->
                    <div class="p-body-pageContent">
                        <div class="block " data-xf-init="" data-type="thread" data-href="/xf2/themes/inline-mod/">
                            <div class="block-outer"></div>
                            <div class="block-container uix_discussionList">
                                <h2 class="block-tabHeader tabs">
                                    <div class="hScroller" data-xf-init="h-scroller">
                                        <span class="hScroller-scroll is-calculated" style="margin-bottom: -47px;">
                                            <a href="/xf2/themes/forums/share-your-opinion.35/" class="tabs-tab is-active rippleButton">
                                                Danh Sách Các Danh Mục Hiện Có
                                                <div class="ripple-container"></div>
                                            </a>
                                            <i class="hScroller-action hScroller-action--end" aria-hidden="true"></i><i class="hScroller-action hScroller-action--start" aria-hidden="true"></i>
                                    </div>
                                    <div class="tabs-extra tabs-extra--minor">
                                        <a class="menuTrigger" data-xf-click="menu" role="button" tabindex="0" aria-expanded="false" aria-haspopup="true">Lọc</a>
                                        <div class="menu menu--wide" data-menu="menu" aria-hidden="true" data-href="" data-load-target=".js-filterMenuBody">
                                            <div class="menu-content">
                                                <h4 class="menu-header">Show only:</h4>
                                                <div class="js-filterMenuBody">
                                                    <div class="menu-row">Loading…</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h2>
                                <div class="block-body">
                                    <div class="structItemContainer">
                                        <div class="structItemContainer-group js-threadList list">
                                            @foreach (var item in Model)
                                            {
                                                <div class="structItem structItem--thread js-inlineModContainer js-threadListItem-75" data-author="Megan Bergner">
                                                    <div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">
                                                        <div class="structItem-title" uix-href="/xf2/themes/threads/favorite-cookie.75/">
                                                            <a href="/BanQuanTri/Home/DanhMucChuDe?iMaDanhMuc=@item.TaiKhoan" class="TenChuDe" data-tp-primary="on" data-xf-init="preview-tooltip" data-preview-url="/xf2/themes/threads/favorite-cookie.75/preview" id="js-XFUniqueId12">@item.TaiKhoan</a>
                                                        </div>
                                                    </div>
                                                    <div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">
                                                        <div class="structItem-title" uix-href="/xf2/themes/threads/favorite-cookie.75/">
                                                            <a href="/BanQuanTri/Home/DanhMucChuDe?iMaDanhMuc=@item.TaiKhoan" class="TenChuDe" data-tp-primary="on" data-xf-init="preview-tooltip" data-preview-url="/xf2/themes/threads/favorite-cookie.75/preview" id="js-XFUniqueId12">@item.MatKhau</a>
                                                        </div>
                                                    </div>
                                                    <div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">
                                                        <div class="structItem-title" uix-href="/xf2/themes/threads/favorite-cookie.75/">
                                                            <a href="/BanQuanTri/Home/DanhMucChuDe?iMaDanhMuc=@item.TaiKhoan" class="TenChuDe" data-tp-primary="on" data-xf-init="preview-tooltip" data-preview-url="/xf2/themes/threads/favorite-cookie.75/preview" id="js-XFUniqueId12">@item.Ho @item.Ten</a>
                                                        </div>
                                                    </div>
                                                    <div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">
                                                        <div class="structItem-title" uix-href="/xf2/themes/threads/favorite-cookie.75/">
                                                            <a href="/BanQuanTri/Home/DanhMucChuDe?iMaDanhMuc=@item.TaiKhoan" class="TenChuDe" data-tp-primary="on" data-xf-init="preview-tooltip" data-preview-url="/xf2/themes/threads/favorite-cookie.75/preview" id="js-XFUniqueId12"></a>
                                                        </div>
                                                    </div>
                                                    <div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">
                                                        <div class="structItem-title" uix-href="/xf2/themes/threads/favorite-cookie.75/">
                                                            <a href="/BanQuanTri/Home/DanhMucChuDe?iMaDanhMuc=@item.TaiKhoan" class="TenChuDe" data-tp-primary="on" data-xf-init="preview-tooltip" data-preview-url="/xf2/themes/threads/favorite-cookie.75/preview" id="js-XFUniqueId12">@item.GioiTinh</a>
                                                        </div>
                                                    </div>
                                                    <div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">
                                                        <div class="structItem-title" uix-href="/xf2/themes/threads/favorite-cookie.75/">
                                                            <a href="/BanQuanTri/Home/DanhMucChuDe?iMaDanhMuc=@item.TaiKhoan" class="TenChuDe" data-tp-primary="on" data-xf-init="preview-tooltip" data-preview-url="/xf2/themes/threads/favorite-cookie.75/preview" id="js-XFUniqueId12">@item.DiemThanhTich</a>
                                                        </div>
                                                    </div>
                                                    <div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">
                                                        <div class="structItem-title" uix-href="/xf2/themes/threads/favorite-cookie.75/">
                                                            <a href="/BanQuanTri/Home/DanhMucChuDe?iMaDanhMuc=@item.TaiKhoan" class="TenChuDe" data-tp-primary="on" data-xf-init="preview-tooltip" data-preview-url="/xf2/themes/threads/favorite-cookie.75/preview" id="js-XFUniqueId12">@item.SoBaiViet</a>
                                                        </div>
                                                    </div>
                                                    <div class="structItem-cell structItem-cell--latest ">
                                                        <a href="/BanQuanTri/NguoiDung/XemChiTiet?sTaiKhoan=@item.TaiKhoan">Chi Tiết</a> |
                                                        <a href="/BanQuanTri/NguoiDung/XoaNguoiDung?sTaiKhoan=@item.TaiKhoan">Xóa</a> |
                                                        <a href="/BanQuanTri/NguoiDung/CapNhat?sTaiKhoan=@item.TaiKhoan">Cập Nhật</a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination"></ul>
                    <!-- BELOW MAIN CONTENT -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #region Script lọc -->
<script type="text/javascript">
    var options = {
        valueNames: ['TenChuDe', 'TenDanhMuc'],
        page: 8,
        pagination: true
    };
    var userList = new List('DanhSachDanhMuc', options);
</script>
<!-- #endregion -->